body {
    font-family: 'Arial', sans-serif;
    background-color: #ececec;
    color: #000000;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #3a4750;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width : 50px;
    height :50px;
}
h1 {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    display: inline-block
}

.user-name{
    color: red;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: #be3144;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    left: -330%; 
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #140a0a;
    background-color: #000000;
}
.user-container {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    display: flex;
    align-items: center
}

.user-container p {
    margin: 0;
}

nav {
    background-color: #be3144;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

article {
    flex: 2;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #303841;
    color: #ffffff;
    margin-top : 100px;
}

#calendar {
    margin-left: 15px;
    max-width: calc(100% - 30px);
}

.comment-container {
    background-color: #ececec;
    padding: 20px;
    margin-top: 20px;
}

.comment-container h3 {
    color: #333;
}

#comment-input {
    width: 98%;
    margin-top: 10px;
    min-width: 98%;
    padding: 10px;
    min-height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submit-button {
    color: #ffffff;
    background-color: #be3144;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 55px;
    height: 15px;
}

#emojiLogo {
    cursor: pointer;
  }

.rating-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.rating-container h2 {
    width: 100%;
    margin-bottom: 10px;
}

.rating-container p {
    margin-bottom: 10px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .star {
    color: #ccc;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }
  
  .star:hover,
  .star:hover ~ .star {
    color: #ffcc00;
  }


@media screen and (max-width:786px){
    .nav a{
        font-size: 10px;
    }

    .nav li {
        margin-right: 0px;
    }
    
}